---
import BaseLayout from "@layouts/BaseLayout.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
).reverse();

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>꾸준한 기록을 통해 지식공유의 장을 만들고자 합니다</h2>
  {
    allPosts.map((post: any) => (
      <li>
        <a href={post.url}>{post.frontmatter.title}</a>
      </li>
    ))
  }
</BaseLayout>
